/* Global variables and color schemes */
:root,
[data-color-scheme=light] {
  --accent-color: #337ab7;

  --footer-height: 100px;
  --text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

  --codeBlock-textColor: #333;
  --codeBlock-backgroundColor: #f5f5f5;
  --codeBlock-borderColor: #ccc;

  /* Code blocks */
  /* HTML */
  --palette-code-tok-tag: #800000;
  --palette-code-tok-attrName: #e50000;
  --palette-code-tok-attrValue: #0000ff;
  --palette-code-tok-angleBracket: #808080;
  /* CSS */
  --palette-code-tok-selector: #800000;
  /* Common */
  --palette-code-tok-monospace: #c7254e;
  --palette-code-tok-comment: #008000;
  --palette-code-tok-string: #a31515;
  --palette-code-tok-regex: #811f3f;
  --palette-code-tok-number: #098658;
  --palette-code-tok-boolean: #0000ff;
  --palette-code-tok-propName: #0451a5;
  --palette-code-tok-propValue: #e50000;
  --palette-code-tok-keyword: #0000ff;
  --palette-code-tok-varName: #0070c1;
  --palette-code-tok-funcName: #795e26;
  --palette-code-tok-className: #267f99;
  --palette-code-tok-operator: #000000;
  --palette-code-tok-punctuation: black;
  --palette-code-tok-mindmap-level1: #0098A9;
  --palette-code-tok-mindmap-level2: #17A82F;
  --palette-code-tok-mindmap-level3: #95A900;
  --palette-code-tok-mindmap-level4: #A07300;
  --palette-code-tok-mindmap-level5: #A42F00;
}

@media only screen {
  [data-color-scheme=dark] {
    color-scheme: dark;

    --codeBlock-textColor: #ccc;
    --codeBlock-backgroundColor: #1e1e1e;
    --codeBlock-borderColor: #464646;

    /* Code blocks */
    /* HTML */
    --palette-code-tok-tag: #569cd6;
    --palette-code-tok-attrName: #9cdcfe;
    --palette-code-tok-attrValue: #ce9178;
    --palette-code-tok-angleBracket: #808080;
    /* CSS */
    --palette-code-tok-selector: #d7ba7d;
    /* Common */
    --palette-code-tok-monospace: #c7254e;
    --palette-code-tok-comment: #6a9955;
    --palette-code-tok-string: #ce9178;
    --palette-code-tok-regex: #d16969;
    --palette-code-tok-number: #b5cea8;
    --palette-code-tok-boolean: #569cd6;
    --palette-code-tok-propName: #9cdcfe;
    --palette-code-tok-propValue: #ce9178;
    --palette-code-tok-keyword: #569cd6;
    --palette-code-tok-varName: #4fc1ff;
    --palette-code-tok-funcName: #dcdcaa;
    --palette-code-tok-className: #4ec9b0;
    --palette-code-tok-operator: #d4d4d4;
    --palette-code-tok-punctuation: #d4d4d4;
    --palette-code-tok-mindmap-level1: #1BE7FF;
    --palette-code-tok-mindmap-level2: #6EEB83;
    --palette-code-tok-mindmap-level3: #E4FF1A;
    --palette-code-tok-mindmap-level4: #FFB800;
    --palette-code-tok-mindmap-level5: #FF5714;
  }
}

/*----------------------------------------------------*/
/* Common */
/*----------------------------------------------------*/
* {
  box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
}

html {
  /* Sticky footer styles */
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Margin bottom by footer height */
  margin: 0;
  background-color: #fff;
  margin-bottom: var(--footer-height);
  font-size: inherit;
  color: rgb(130, 136, 147);
}

.footer {
  text-align: center;
  background-color: black;
  color: gray;
  padding-top: 25px;

  /* Sticky footer styles */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);

  .contacts a {
    font-size: 25px;
    margin: 5px 7px;
    color: gray;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

/*----------------------------------------------------*/
/* Bootstrap */
/*----------------------------------------------------*/

a {
  color: #337ab7;
  text-decoration: none;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:focus, &:hover {
    color: #23527c;
    text-decoration: underline;
    }
}

p {
  margin: 0 0 10px;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

.h1, h1 {
  font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  thead:first-child>tr:first-child>th {
    border-top: 0;
  }

  tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &:before, &:after {
    display: table;
    content: " ";
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Page header */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
  }
}

.jumbotron .h1, .jumbotron h1 {
  color: inherit;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Label */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-primary {
  background-color: #337ab7;
}

/*----------------------------------------------------*/
/* Reset */
/*----------------------------------------------------*/
ul.reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.reset li {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------*/
/* Navbar (Bootstrap overridden) */
/*----------------------------------------------------*/
.navbar-default .navbar-header > .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: silver;
  text-shadow: 0 1px 2px white;
  transition: color 0.3s ease-in;

  span {
    color: gray;
    transition: color 0.3s ease-in;
  }

  &:hover, &:focus {
    color: var(--accent-color);

    span {
      color: var(--accent-color);
    }
  }
}

.page-header {
  margin-top: -20px;
  background-color: var(--accent-color);
  color: white;
  border-bottom: 1px solid #eee;

  a {
    color: white;
  }
}

@media (max-width: 768px) {
  .page-header { text-align: center; }
}

#content {
  margin-bottom: 40px;
}

.row-content {
  padding: 30px 0;
  border-bottom: 2px solid whitesmoke;

  .text-content {
    h1 {
      color: var(--accent-color);
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p { font-size: 20px; }
  }

  &:last-child {
    border-bottom: none;
  }
}

.check-list {
  padding-left: 0;
  list-style-type: none;

  li {
    margin: 15px 0 15px 0;

    span { display: table-cell; }

    .glyphicon {
      padding-right: 10px;
      color: silver;
    }
  }
}

/*----------------------------------------------------*/
/* Pagination */
/*----------------------------------------------------*/
.result {
	color: #a0a0a0;
	margin-bottom: 17px;

	span {
		background-color: #f0f0f0;
		border: 1px solid #e5e5e5;
		border-radius: 5px;
		padding: 3px 10px;
  }
}

/*----------------------------------------------------*/
/* Pages */
/*----------------------------------------------------*/

/* Home */
.page-header-home {
  background-size: cover;
  height: 400px;
  background-image: url(/images/home-header-bg-wide.jpg);
  background-position: center center;

  h1, p { text-shadow: var(--text-shadow); }
  a {
    text-shadow: 1px 1px 1px #337ab7;

    &:hover, &:focus {
      text-decoration: none;
      text-shadow: 1px 1px 1px #1b307d;
    }
  }
}

@media (max-width: 768px) {
  .page-header-home {
    height: 300px;
    background-image: url(/images/home-header-bg-phone.jpg);
    background-position: center center;
  }

  .home-content img {
    padding: 0 60px;
  }
}

.moto-block {
  padding-bottom: 25px;

  strong:first-child {
    line-height: 25px;
    color: gray;
  }
}

.random-facts {
  margin-top: 35px;
}

/* ----------------------------------------- */
/* Blog */
/* ----------------------------------------- */
.post-template {
  h1.post-title {
    font-weight: bold;
  }
}

.blog-post-footer {
  margin-bottom: 35px;
  min-height: 20px;
}

.blog-post-footer-delimiter {
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  .blog-post-footer {
    &> div {
      float: none;
      margin: 7px 0;
    }
  }
}

.post-tags-wrapper>span {
  margin-right: 5px;
}

.post-tags {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-category {
  margin-right: 10px;
}

.post-tag {
  margin: 2px;

  &:hover {
    text-decoration: none;

    .label {
      background-color: #5bc0de;
    }
  }
}

.post-date {
  color: #7f919e;
}

.post-desc {
  margin-top: 20px;
  clear: both;
}

/* Blog Post */
.blog-post-content {
  word-break: break-word;
  font-size: 1.1rem;
  line-height: 1.6;

  h1, h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1, h2, h3 {
    color: #337ab7;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote {
    font-size: inherit;
    font-style: italic;
  }

  a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
  }

  pre {
    display: flex;
    min-height: 54px;
    align-items: center;
    padding: 9.5px;
    margin: 0 0 10px;
    word-break: break-all;
    word-wrap: break-word;

    code {
      display: block;
      overflow: auto;
      font-size: 80%;

      padding: 2px 4px;
    }
  }

  pre, pre code {
    border-radius: 7px;
    background-color: var(--codeBlock-backgroundColor);
  }
}












/* ----------------------------------------- */
/* PrismJS */
/* ----------------------------------------- */

/* HTML */
.token.doctype,
.token.doctype .punctuation {
  color: var(--palette-code-tok-angleBracket);
}

.token.cdata {
  color: var(--palette-code-tok-angleBracket);
}

.token.tag {
  color: var(--palette-code-tok-tag);
}

.token.tag .token.punctuation {
  color: var(--palette-code-tok-angleBracket);
}

.token.attr-name {
  color: var(--palette-code-tok-attrName);
}

.token.attr-value {
  color: var(--palette-code-tok-attrValue);
}

.token.attr-value .token.punctuation {
  color: var(--palette-code-tok-punctuation);
}

/* CSS */
.token.selector {
  color: var(--palette-code-tok-selector);
}

/* @ rules (statements) in stylesheets. */
.token.atrule {
  color: var(--palette-code-tok-keyword);
}

.token.atrule .token.url .token.function {
  color: var(--palette-code-tok-funcName);
}

.token.atrule .token.url .token.punctuation {
  color: var(--palette-code-tok-punctuation);
}

/* JavaScript */
.token.console {
  color: var(--palette-code-tok-varName) !important;
}

.token.regex {
  color: var(--palette-code-tok-regex);
}

/* Markdown */
.token.italic {
  font-style: italic;
}

.token.bold {
  font-weight: bold;
}

/* Common */
.token.comment,
.token.prolog {
  color: var(--palette-code-tok-comment);
}

.token.punctuation {
  color: var(--palette-code-tok-punctuation);
}

.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: var(--palette-code-tok-number);
}

.token.string,
.token.char,
.token.builtin,
.token.deleted {
  color: var(--palette-code-tok-string);
}

.token.boolean {
  color: var(--palette-code-tok-boolean);
}

.token.operator,
.token.entity {
  color: var(--palette-code-tok-operator);
}

.token.keyword {
  color: var(--palette-code-tok-keyword);
}

.token.function,
.token.function .token.maybe-class-name {
  color: var(--palette-code-tok-funcName);
}

.token.constant {
  color: var(--palette-code-tok-varName);
}

.token.class-name,
.token.maybe-class-name {
  color: var(--palette-code-tok-className);
}

.token.parameter {
  color: var(--palette-code-tok-varName);
}

.token.interpolation {
  color: var(--palette-code-tok-varName);
}

.token.punctuation.interpolation-punctuation {
  color: var(--palette-code-tok-punctuation);
}

.token.property,
.token.variable {
  color: var(--palette-code-tok-propName);
}

.token.namespace {
  opacity: .7;
  color: var(--palette-code-tok-className);
}

/* Language Specific */
pre[class*="language-css"],
code[class*="language-css"] {
  color: var(--palette-code-tok-propValue);
}
